.instruction-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.instruction-list{
    list-style-type: decimal;
    padding-left: 20px;
}

.instruction-list li {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
}
